<section class="hero is-fullheight has-text-centered" id="hero">
  <div class="hero-body">
    <div class="container">
      <img src="https://raw.githubusercontent.com/cyb3rsult4n/osama-personal-website/master/assets/images/cyb3rsult4n.jpeg" alt="0xcyb3rw0lf"
        style="border-radius: 50%; width: 15%; margin-bottom: 1em;">
      <h1 class="title has-text-white is-size-1 is-uppercase has-text-weight-bold">
        {{site.title}}
      </h1>
      <h3 class="subtitle has-text-white-bis is-uppercase has-text-weight-medium is-marginless">
        {{site.description}}
      </h3>
      <hr>
      <a href="{{site.url}}{{site.baseurl}}/#about"
        class="button is-white is-rounded is-outlined is-uppercase has-text-weight-normal">Read More</a>
      </a>
    </div>
  </div>
</section>